html, body {
    background: linear-gradient(#0079bf, #0098e5);
    min-height: 100%;
}

hr {
    margin: 0.3em 0;
}

.primary-color {
    background-color: #0079bf;
}

.section-styled {
    background-color: #f0f2f4;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px 8px;
    overflow: hidden;
}

.section-styled  h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.inline-h3 {
    display: inline;
}

.add-btn {
    display: inline-block;
    background-color: #0079bf;
    color: #fff !important;
    margin-top: 10px;
}