.wrapper {
    /* Every main component (Lists) is wrapped in wrapper class */
}

.section-styled {
    background-color: #f0f2f4;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px 8px;
    overflow: hidden;
}

.section-styled  h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.upper-section {
    /* min-height: 17em; */
}

.cards-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.inline-h3 {
    display: inline;
}

.add-btn {
    display: inline-block;
    background-color: #0079bf;
    color: #fff !important;
    margin-top: 10px;
}